html {
    font-family: 'Raleway', sans-serif;
}

/* header */


header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.logo {
    border-style: none;
    width: 100px;
    margin: 30px 0;
}


.navbar
    > ul {
        display: flex;
        margin: 0;
    }

.navbar 
    > ul
    > li {
        height: 110px;
        display: flex;
        align-items: center;
    }

.navbar 
    > ul
    > li:hover {
        border-top: solid 1.5px #0065fc;
        color: #0065fc;
    }



.navbar 
    > ul
    > li
    > a {
        margin: 0 50px 0 50px;
}

a {
    text-decoration: none;
    color: inherit;
}


/* introduction */

#introduction {
    margin: 0 50px;
}

form {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
}

.searchbar {
    padding: 12.5px;
    line-height: 0;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

.search-button {
    background-color: #0065fc;
    border-style: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    padding: 13.8px;
}

.search-icon {
    display: none;
}

.text-button-search {
    color: white;
    font-weight: bold;
    margin: 0;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.fa-money-bill-wave,
.fa-heart,
.fa-dog {
    color: #0065fc;
    border-radius: 40px;
    background-color: #DEEBFF;
    padding: 23px 12px;
    margin: -3px;
    transition: transform .5s ease;
}

.fa-child-reaching {
    color: #0065fc;
    border-radius: 40px;
    background-color: #DEEBFF;
    padding: 22px 16px;
    margin: -3px;
    transition: transform .5s ease;
}

.fa-money-bill-wave:hover,
.fa-heart:hover,
.fa-dog:hover,
.fa-child-reaching:hover {
    transform: scale(1.3);
}

.container-filter {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.button-filter {
    display: flex;
    margin: 10px 25px 10px 0;
    border: solid 2px #F2F2F2;
    border-radius: 30px;
    font-weight: bold;
}

.text-filter {
    align-self: center;
    margin: 0 10px;
}

.container-infos {
    margin: 0 0 30px 0;
}

.infos {
    margin: 0;
}

.fa-info {
    color: #0065fc;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}


/* section1 = hébergements + les plus populaires */

#section1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
}


.h2-section1 {
    margin: 40px 0 20px 40px;
}

.accommodations {
    width: 60%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 40px;
}

.card-row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-row {
    margin: 15px;
    padding: 5px;
    width: 26%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 15px #bdbdbd;
}

.card-row:hover {
    transform: translateY(-5px);
}

.card-row
    > a {
    width: 100%;
}

.img-accommodations-container {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
}

.img-accommodations-container  
    > img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

.title-card,
.p-card,
.star-stack {
    margin: 0;
    padding: 0 0 5px 10px;
}


.fa-star {
    margin: 0;
    color: #0065fc;
}
    
.star-grey {
    color: #d0d5db;
}

.see-more {
    margin: 40px;
}

.most-popular {
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px 20px;
}

.star-title {
    color: black;
}

.most-popular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-row-popular {
    display: flex;
    width: 90%;
    margin: 0 10px 20px 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 15px #bdbdbd;
}

.card-row-popular:hover {
    transform: translateY(-5px);
}

.card-row-popular
    > a {
    width: 100%;
}

.img-accommodations-container-popular {
    display: flex;
    margin-right: 20px;
    width: 40%;
    height: 150px;
}

.img-accommodations-container-popular 
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }

.title-card-popular {
    margin: 15px 0;
}

.p-card-popular {
    margin: 0;
}

.star-stack-popular {
    margin-top: 50px;
}


/* section2 = activités */

#section2 {
    margin: 0 50px;
}

.h2-section2 {
    margin-top: 55px;
}

.activities {
    display: flex;
    flex-direction: row;
    width: 92%;
    height: 500px;
}

.column {
    display: flex;
    flex-direction: column; 
    width: 100%
}

.card-row-activities {
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 15px #bdbdbd;
}

.card-row-activities:hover {
    transform: translateY(-5px);
}

.card-row-activities
    > a {
    width: 100%;
    height: 100%;
}

.img-activities-container-1,
.img-activities-container-4 {
    width: 100%;
    height: 88%;
}

.img-activities-container-2 {
    width: 100%;
    height: 78%;
}

.img-activities-container-3 {
    width: 100%;
    height: 68%;
}

.img-activities-container-5 {
    width: 100%;
    height: 70%;
}

.img-activities-container-6 {
    width: 100%;
    height: 77%;
}

.img-activities {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.div-1 {
    height: 100%;
    margin: 20px 20px 20px 0;
}

.div-2 {
    height: 50%;
    margin: 20px;
}

.div-3 {
    height: 34%;
    margin: 20px;
}

.div-4 {
    height: 100%;
    margin: 20px;
}

.div-5 {
    height: 39%;
    margin: 20px 0 20px 20px;
}

.div-6 {
    height: 45%;
    margin: 20px 0 20px 20px;
}

.title-card-activities {
    margin: 0 0 0 15px;
}

.title-card-activities-6 {
    margin: -4px 0 0 15px;
}


/* footer */

footer {
    background-color:#F2F2F2;
    margin-top: 40px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 2em;
    margin-left: 50px;
}

.about {
    margin-top: 20px;
    margin-right: 350px;
}

.our-accommodations {
    margin-top: 20px;
    margin-right: 350px;
}

.support {
    margin-top: 20px;
}

.about
> ul {
    list-style-type:none;
    margin: 20px 0;
    padding: 0;
}

.our-accommodations
> ul {
    list-style-type:none;
    margin: 20px 0;
    padding: 0;
}

.support
> ul {
    list-style-type:none;
    margin: 20px 0;
    padding: 0;
}


/*version mobile*/
@media (max-width: 768px) {


    header {
        display: block;
        text-align: center;
    }

    .logo {
        border-style: none;
        width: 100px;
        margin: 0;
    }
    
    .navbar
        > ul {
            padding: 0;
            justify-content: center;
        }

    .navbar 
        > ul
        > li {
            border-bottom: solid 3px #f2f2f2;
            height: 75px;
        }

    .navbar 
        > ul
        > li:hover {
            border-top: transparent;
            border-bottom: solid 2px #0065fc;
        }

    #introduction {
        margin: 0 0 0 20px;
    }

    .text-button-search {
        display: none;
    }

    .search-button {
        border-radius: 15px;
        margin-left: -10px;
    }

    .search-icon {
        display: block;
        margin: 0;
        color: white;
    }

    .fa-search {
        margin: 0;
    }

    .container-filter {
        margin: 0;
    }

    .infos {
        display: flex;
        align-items: center;
    }

    #section1 {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .h2-section1 {
        margin: 40px 0 20px 15px;
    }

    .accommodations,
    .most-popular {
        width: 100%;
    }

    .accommodations {
        background-color: transparent;
        margin: 0 5px 0 5px;
    }

    .card-row {
        display: flex;
        width: 90%;
        margin: 10px;
    }

    .most-popular {
        border-radius: 0;
    }

    .see-more {
        margin: 20px 0 0 15px;
    }

    #section2 {
        margin: 0 20px;
    }

    .activities {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .div-1,
    .div-2,
    .div-3,
    .div-4,
    .div-5,
    .div-6 {
        margin: 10px 0 10px 0;
        width: 100%;
        height: 150px;
    }

    .img-activities-container-1,
    .img-activities-container-2,
    .img-activities-container-3,
    .img-activities-container-4,
    .img-activities-container-5,
    .img-activities-container-6 {
        width: 100%;
        height: 65%;
    }

    .title-card-activities 
        > h4 {
            margin: 10px 0;
    }

    .footer {
        flex-direction: column;
    }


    .about,    
    .our-accommodations,    
    .support {
        margin-right: 0;
    }
}


/*version tablette*/
@media (min-width: 768px) and (max-width: 993px) {

    header {
        margin-left: 20px;
    }

    #introduction {
        margin: 0 0 0 20px;
    }

    .text-button-search {
        display: none;
    }

    .search-button {
        border-radius: 15px;
        margin-left: -10px;
    }

    .search-icon {
        display: block;
        margin: 0;
        color: white;
    }

    .fa-search {
        margin: 0;
    }

    #section1 {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .accommodations,
    .most-popular {
        width: 100%;
    }

    .accommodations {
        background-color: transparent;
        margin: 0 5px 0 5px;
    }

    .star-stack-popular {
        margin-top: 25px;
    }

    #section2 {
        margin: 0 20px;
    }

    .activities {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .div-1,
    .div-2,
    .div-3,
    .div-4,
    .div-5,
    .div-6 {
        margin: 10px 0 10px 0;
    }

    .img-activities-container-1,
    .img-activities-container-2,
    .img-activities-container-3,
    .img-activities-container-4,
    .img-activities-container-5,
    .img-activities-container-6 {
        width: 100%;
        height: 65%;
    }

    .title-card-activities 
        > h4 {
            margin: 10px 0;
    }

    .footer {
        justify-content: space-between;
    }

    .about,    
    .our-accommodations,    
    .support {
        margin-right: 50px;
    }
}